### Проанализируйте результаты эксперимента и напишите свои рекомендации менеджеру.

3Mobile Games AB Testing with Cookie Cats

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_excel('C://Users//Абрамовы//Desktop//a_b test ecom.xlsx')

data.head(10)

       id     time  con_treat      page  converted
0  851104  11:48.6    control  old_page          0
1  804228  01:45.2    control  old_page          0
2  661590  55:06.2  treatment  new_page          0
3  853541  28:03.1  treatment  new_page          0
4  864975  52:26.2    control  old_page          1
5  936923  20:49.1    control  old_page          0
6  679687  26:46.9  treatment  new_page          1
7  719014  48:29.5    control  old_page          0
8  817355  58:09.0  treatment  new_page          1
9  839785  11:06.6  treatment  new_page          1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         294478 non-null  int64
 1   time       294478 non-null  object
 2   con_treat  294478 non-null  object
 3   page       294478 non-null  object
 4   converted  294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [12]:
data.describe(include='all')

                   id     time  con_treat      page      converted
count   294478.000000   294478     294478    294478  294478.000000
unique            NaN    35993          2         2            NaN
top               NaN  36:26.7  treatment  old_page            NaN
freq              NaN       22     147276    147239            NaN
mean    787974.124733      NaN        NaN       NaN       0.119659
std      91210.823776      NaN        NaN       NaN       0.324563
min     630000.000000      NaN        NaN       NaN       0.000000
25%     709032.250000      NaN        NaN       NaN       0.000000
50%     787933.500000      NaN        NaN       NaN       0.000000
75%     866911.750000      NaN        NaN       NaN       0.000000
max     945999.000000      NaN        NaN       NaN       1.000000

In [6]:
from scipy.stats import mannwhitneyu
from scipy.stats import ttest_ind

In [9]:
mannwhitneyu(data[data.page == 'old_page'].converted,
             data[data.page == 'new_page'].converted)

MannwhitneyuResult(statistic=10857403860.0, pvalue=0.1712082480623932)

p больше 0,05. нулевая гипотеза - различий нет.

In [13]:
data.id.count()

294478

In [14]:
data.id.nunique()

290584

In [15]:
data.converted.unique()

array([0, 1], dtype=int64)

In [16]:
data.page.unique()

array(['old_page', 'new_page'], dtype=object)

In [17]:
data.con_treat.unique()

array(['control', 'treatment'], dtype=object)

In [18]:
data.query('con_treat == "control"').page.unique()

array(['old_page', 'new_page'], dtype=object)

In [19]:
data.query('con_treat == "treatment"').page.unique()

array(['new_page', 'old_page'], dtype=object)

In [20]:
data_new = data.query('(con_treat == "control" and page == "old_page") or (con_treat == "treatment" and page == "new_page")')

In [21]:
data_new.query('con_treat == "control"').page.unique()

array(['old_page'], dtype=object)

In [22]:
data_new.query('con_treat == "treatment"').page.unique()

array(['new_page'], dtype=object)

In [23]:
data.count()

id           294478
time         294478
con_treat    294478
page         294478
converted    294478
dtype: int64

In [24]:
data_new.count()

id           290585
time         290585
con_treat    290585
page         290585
converted    290585
dtype: int64

In [25]:
data_new.con_treat.value_counts()

treatment    145311
control      145274
Name: con_treat, dtype: int64

In [26]:
k1 = data_new.query('con_treat == "control"').converted.sum()
k2 = data_new.query('con_treat == "treatment"').converted.sum()

In [27]:
n2, n1 = data_new.con_treat.value_counts()
n1, n2

(145274, 145311)

In [28]:
round(k1/n1*100,2), round(k2/n2*100,2)

(12.04, 11.88)

In [31]:
from statsmodels.stats import proportion

In [32]:
z_score, z_pvalue = proportion.proportions_ztest(pd.array([k1,k2]),pd.array([n1,n2]))
z_score, z_pvalue

(1.3116075339133115, 0.18965258971881804)

In [33]:
chisq, pvalue, table = proportion.proportions_chisquare(pd.array([k1,k2]),pd.array([n1,n2]))
chisq, pvalue

(1.720314323018192, 0.1896525897188101)